<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HuyHenHa</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HuyHenHa.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="HeaderLayout">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-collapse bg-transparent border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">  @*logo web*@
                                <a>
                                    <img src="~/Images/HuyHenHa.png" alt="logo" />
                                </a>
                            </li>
                            <li class="nav-item">  @*thanh tìm kiếm*@
                                <div class="search">
                                    <form>
                                        <button type="submit" class="TimKiem_icon">
                                            <img src="~/Images/icon_search.png" />
                                        </button>
                                        <input type="text" class="TimKiem_text" name="search_text" placeholder="tim kiem" />

                                    </form>
                                </div>
                            </li>
                            <li class="nav-item">  @*nút đăng nhập*@
                                <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Index">
                                    <img src="~/Images/icon_user.png" />
                                    Đăng nhập
                                </a>  
                            </li>
                            <li class="nav-item"> @*Giỏ hàng*@
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                                    <img src="~/Images/icon_cart.png" />
                                    GIỏ hàng
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>  @* dieu huong den trang Index *@
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>  @* dieu huong den trang Index *@
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>  @* dieu huong den trang Index *@
                            </li>
                        </ul>         
                    </div>
                </div>
            </nav>
        </div>
        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - HuyHenHa - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>



