<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HuyHenHa</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HuyHenHa.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="HeaderLayout" style="padding-bottom:10px" > 
            @*header ở trên*@
            <nav class="navbar-expand-sm navbar-toggleable-sm navbar-collapse bg-transparent px-5">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse d-sm-inline-flex justify-content-center">
                        <ul class="navbar-nav flex-grow-0">

                            @*logo web*@
                            <li class="nav-item">  
                                <a>
                                    <img src="~/Images/icon_header_layout/HuyHenHa.png" alt="logo" style="width:270px;height:100px;"/>
                                </a>
                            </li>

                            @*thanh tìm kiếm*@
                            <li class="nav-item">  
                                <div class="search">
                                    <form>
                                        <button type="submit" class="TimKiem_icon">
                                            <img src="~/Images/icon_header_layout/icon_search.png" />
                                        </button>
                                        <input type="text" class="TimKiem_text" name="search_text" placeholder="tim kiem" />

                                    </form>
                                </div>
                            </li>

                            @*nút đăng nhập*@
                            <li class="nav-item1">  
                                <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Index">
                                    <img src="~/Images/icon_header_layout/icon_user.png" />
                                    Đăng nhập
                                </a>  
                            </li>

                            @*Giỏ hàng*@
                            <li class="nav-item1"> 
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                                    <img src="~/Images/icon_header_layout/icon_cart.png" />
                                    Giỏ hàng
                                </a>
                            </li>
                            <li class="nav-item1">
                                <a class="nav-link text-dark d-flex justify-content-between align-items-center" asp-area="" asp-controller="Home" asp-action="Index" style="width:300px; text-align:justify">
                                    <span class="d-flex align-items-center">
                                        <img src="~/Images/icon_header_layout/icon_location.png" />
                                        Hồ Chí Minh
                                    </span>
                                    <img src="~/Images/icon_header_layout/icon_arrow_right.png" style="text-align:right" />
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>
            @*header ở dưới*@
            <nav class="navbar-expand-sm navbar-toggleable-sm navbar-collapse bg-transparent px-5">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse d-sm-inline-flex justify-content-center">
                        <ul class="navbar-nav flex-grow-0">
                            @*Điện thoại*@
                            <li class="nav-item1">
                                <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Index">
                                    <img src="~/Images/icon_header_layout/icon_iphone.png" style="margin-bottom:3px" />
                                    Điện thoại
                                </a>
                            </li>

                            @*Laptop*@
                            <li class="nav-item1">
                                <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Index">
                                    <img src="~/Images/icon_header_layout/icon_laptop.png" style="margin-bottom:3px" />
                                    Laptop
                                </a>
                            </li>

                            @*Phụ kiện*@
                            <li class="nav-item1 dropdown">
                                <a class="nav-link text-black dropdown-toggle" asp-area="" asp-controller="Home" asp-action="Index">
                                    <img src="~/Images/icon_header_layout/icon_headphone.png" style="margin-bottom:3px" />
                                    Phụ kiện
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <div class="dropdown-menu-items">
                                        <strong>Phụ kiện di động</strong>
                                        <a class="dropdown-item" href="#">Item 1</a>
                                        <a class="dropdown-item" href="#">Item 2</a>
                                        <a class="dropdown-item" href="#">Item 3</a>
                                    </div>
                                </div>

                            </li>

                            @*Smartwatch*@
                            <li class="nav-item1">
                                <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Index">
                                    <img src="~/Images/icon_header_layout/icon_smartwatch.png" style="margin-bottom:3px" />
                                    Smartwatch
                                </a>
                            </li>

                            @*Đồng hồ*@
                            <li class="nav-item1">
                                <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Index">
                                    <img src="~/Images/icon_header_layout/icon_watch.png" style="margin-bottom:3px" />
                                    Đồng hồ
                                </a>
                            </li>

                            @*Tablet*@
                            <li class="nav-item1">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                                    <img src="~/Images/icon_header_layout/icon_tablet.png" style="margin-bottom:3px" />
                                    Tablet
                                </a>
                            </li>

                            @*Máy cũ, Thu cũ*@
                            <li class="nav-item1 dropdown">
                                <a class="nav-link text-dark dropdown-toggle" asp-area="" asp-controller="Home" asp-action="Index">
                                    <img src="~/Images/icon_header_layout/icon_broken_phone.png" style="margin-bottom:3px" />
                                    Máy cũ, Thu cũ
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <div>
                                        <strong>Phụ kiện di động</strong>
                                        <a class="dropdown-item" href="#">Item 1</a>
                                        <a class="dropdown-item" href="#">Item 2</a>
                                        <a class="dropdown-item" href="#">Item 3</a>
                                    </div>

                                </div>
                            </li>

                            @*PC, Máy in*@
                            <li class="nav-item1 dropdown">
                                <a class="nav-link text-dark dropdown-toggle" asp-area="" asp-controller="Home" asp-action="Index">
                                    <img src="~/Images/icon_header_layout/icon_workstation.png" style="margin-bottom:3px" />
                                    PC, Máy in
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Item 1</a>
                                    <a class="dropdown-item" href="#">Item 2</a>
                                    <a class="dropdown-item" href="#">Item 3</a>
                                </div>
                            </li>

                            @*Sim, Thẻ cào*@
                            <li class="nav-item1 dropdown">
                                <a class="nav-link text-dark dropdown-toggle" asp-area="" asp-controller="Home" asp-action="Index">
                                    <img src="~/Images/icon_header_layout/icon_sim.png" style="margin-bottom:3px" />
                                    Sim, Thẻ cào
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Item 1</a>
                                    <a class="dropdown-item" href="#">Item 2</a>
                                    <a class="dropdown-item" href="#">Item 3</a>
                                </div>
                            </li>

                        </ul>
                    </div>

                </div>
            </nav>
        </div>
        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - HuyHenHa - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>



